<header class="sticky-top bg-primary text-white p-3">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Izquierda: Título -->
    <div class="header-title col-2">
      <img src="" alt="Logo" class="img-fluid ms-2" style="max-height: 50px;" routerLink="/">
    </div>

    <!-- Centro: Contenedor de las 2 barras de búsqueda en la misma fila -->
    <div class="header-search d-flex flex-grow-1 mx-3 col-7" style="gap: 1rem;">

      <!-- Barra de búsqueda normal -->
      <div class="plain-search  d-flex" style="flex: 1;">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label style="color: black;">Escribe para buscar...</mat-label>
          <input type="text"
                 matInput
                 style="color: black;"
                 [formControl]="plainSearchControl"
                 placeholder="">

        </mat-form-field>
        <button style="color: white; background-color: black;" mat-button matSuffix
        (click)="obtenerValores()"
        [disabled]="plainSearchControl.invalid">
          Buscar
        </button>
      </div>
    </div>

    <!-- Derecha: Logo y menú -->
    <div class="header-logo d-flex justify-content-center align-items-center col-3 gap-3">
      <button mat-button class="text-white" style="background-color: black;" routerLink="/iniciar-sesion">
        Ingresar
      </button>
      <button mat-button class="text-white" style="background-color: black;" routerLink="/registro">
        Registrarse
      </button>
    </div>
    
  </div>
</header>
